/* ========== Reset ========== */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, ul, ol, li, figure, figcaption,
blockquote, dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

article, aside, footer, header, nav, section, main, figure {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

:root {
  --color-primary: #37947d;
  --color-secondary: #213a35;
  --color-accent: #e4e67b;
  --radius-button: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Noto Sans JP;
}

.btn:hover {
  background-color: #d6c700;
  transform: translateY(2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.logo-image {
  width: 140px;
  height: 38px;
}

.btn-f {
  width: 180px;
}

@media screen and (max-width: 800px) {
  .btn {
    width: 100%;
  }
}
.menu-title:hover {
  opacity: 0.7;
}

.vertical-text {
  writing-mode: vertical-rl;
}

.bg-light2.p-8.rounded {
  padding: 1.8rem 1rem;
}

.p-8 {
  padding: 1.8rem 1rem;
}

.hero-section {
  background-image: linear-gradient(to right, rgba(33, 58, 53, 0.4), rgba(33, 58, 53, 0.2)), url(/img/fv5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mincho {
  font-family: "Zen Old Mincho", serif;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  display: block;
  padding: 0 1.5rem;
}
.accordion-content.active {
  max-height: 500px;
}

input[type=checkbox],
select {
  appearance: none;
  -webkit-appearance: none;
}

.button {
  background-color: var(--color-primary);
  border-radius: var(--radius-button);
  color: white;
}
.button:hover {
  background-color: #3ea78d;
}

.home-menu {
  align-items: center;
}

.border-r {
  border-radius: 5px;
}

.hero-sub {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .hero-sub {
    font-size: 16px;
  }
}

.md\:w-1\/2 {
  width: 60%;
  margin-left: 40px;
}
.md\:w-1\/2 h1 {
  line-height: 1.2;
}

.text-bottom {
  position: relative;
}
.text-bottom::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 120px;
  width: 80px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #cbd5e0;
}

.service-subtitle {
  font-weight: bold;
}

.bg-primary {
  background-color: #e4e67b;
  color: #213a35;
  font-weight: bold;
}

.bg-light {
  background-color: #ebf4f2;
}

.bg-light2 {
  background-color: #f3f8f6;
}

.text-primary {
  color: #37947d;
}

.border-primary {
  border-color: #37947d;
}

.bg-green {
  background-color: #37947d;
}

.accordion-btn {
  font-size: 17px;
}

.voice-subtitle {
  font-weight: bold;
}

footer {
  background-color: #213a35;
  color: white;
  padding: 30px 0 10px 0;
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 20px 0;
}
.footer-inner a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 800px) {
  .footer-inner {
    flex-direction: column;
    justify-content: left;
    gap: 20px;
  }
}

.footer-c {
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
}

.accordion-content.px-6.pb-6 {
  padding-bottom: 0;
}/*# sourceMappingURL=style.css.map */
